@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body{
    height: calc(100% - 64px);
    margin-top: 64px;
    font-family: "Raleway", sans-serif;
    div#root{
        height: 100%;
        footer{
            width: 100%;
            height: 60px;
            background: $bg_header;
            position: fixed;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 200;
            font-family: 'Montserrat', sans-serif;
            color: $about_txt;
            p{
                padding: 0;
                margin: 0;
            }
            p.footer__me{
                font-family: 'Petit Formal Script', cursive;
            }
            .footer__button{
                color: $about_buttons;
            }
        }
    }
    span.info__type_business{
        text-transform: capitalize;
    }
    span.mouseOver{
        &:hover{
            cursor: pointer;
        }
    }
}
@media (max-width: 1024px) {
    body{
        div#root{
            div.page__owner{
                div.owner__about{
                    display: flex;
                    flex-direction: column;
                    div.features__history,
                    div.features__allUsers,
                    div.features__offers{
                        display: none;
                    }
                    div.alice-carousel{
                        height: 290px;
                        margin-top: 0;
                        margin-bottom: 0px;
                        div{
                            div.alice-carousel__wrapper{
                                ul.alice-carousel__stage{
                                    li.alice-carousel__stage-item{
                                        div.about__info{
                                            p{
                                                font-size: 13px;
                                            }
                                        }
                                        div.about__newOffer{
                                            form{
                                                div.newOffer__form{
                                                    span.form__title{
                                                        font-size: 13px;
                                                    }
                                                    div.MuiFormControl-root{
                                                        height: 40px;
                                                        label.MuiFormLabel-root{
                                                            font-size: 13px;
                                                        }
                                                        input.MuiInputBase-input{
                                                            height: 14px;
                                                        }
                                                    }
                                                    .errorMessage{
                                                        height: 5px;
                                                    }
                                                }
                                                button{
                                                    padding: 3px 14px;
                                                    font-size: 0.775rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    div.about__features{
                        display: block;
                        height: calc(100% - 305px);
                        div.alice-carousel{
                            height: 100%;
                            div{
                                div.alice-carousel__wrapper{
                                    ul{
                                        li{
                                            div.features__history,
                                            div.features__allUsers,
                                            div.features__offers{
                                                display: block;
                                            }
                                            div.features__allUsers{
                                                p.allUsers__user{
                                                    height: 50px;
                                                    &:not(:first-child) {
                                                        margin-top: 8px;
                                                    }
                                                }
                                            }
                                            div.features__offers,
                                            div.features__history{
                                                div.offers__card{
                                                    padding: 7px;
                                                    height: 112px;
                                                    p{
                                                        font-size: 13px;
                                                        height: 22px;
                                                    }
                                                    button{
                                                        padding: 3px 13px;
                                                    }
                                                    &:not(:first-child) {
                                                        margin-top: 8px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    nav.MuiPaper-root{
        height: 60px;
    }
    body{
        height: calc(100% - 56px);
        margin-top: 56px;
        div#root{
            height: 100%;
            div.home{
                div.home__about{
                    width: 80%;
                }
            }
            footer{
                padding: 0 8px;
                button{
                    display: none;
                }
                p{
                    font-size: 12px;
                    width: fit-content;
                }
            }
            div.signup{
                form{
                    .loginSignUp{
                        padding: 10px 30px;
                    }
                }
            }
            div.page__visitor{
                div.visitor__about{
                    div.about__info{
                        height: 200px;
                    }
                    div.about__offers{
                        height: calc(100% - 200px);
                    }
                }
            }
            div.NFPage,
            div.personalPage__bonus{
                height: 110%;
                margin-top: -56px;
            }
        }
        div.MuiModal-root{
            div.MuiBox-root{
                width: 100%;
            }
        }
    }
}